p {
    padding: 10px;
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
}

th {
    padding: 5px;
}

dl dd {
    color: brown;
}

.row {
    text-align: center;
}

#chocolate {
    color: bisque;
}
.list-head
{
    text-shadow:0px 2px 5px #eee;
    text-decoration-line: underline;
    text-decoration-color: black;
}
#box {
    width: 50%;
    padding: 40px;
    margin: 30px auto auto auto;
    border-style: groove;
    color: brown;
    border-width: 0.5px;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

.list {
    list-style-type: none;
}